        h1{
            color: green;
        }

        #heading1 {
            color: blue;
        }

        h6 {
            color: red;
        }


        ol {
            color: aqua;
        }

        #p1 {
            color: crimson;
        }

        #p2 {
            color: navy;
        }